:root {
  --white-color: #fff;
  --grey-color: #8e98ab;
}
.header-container {
  height: 10vh !important;
  width: 92vw;
  background-color: var(--white-color) !important;
  box-shadow: 0px 1px 2px 0px #c4c4c4;
}
.header-row {
  display: flex;
  padding: 0;
  margin: auto;
  height: 10vh;
  justify-content: space-between;
}
.header-title {
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
}
.profile-content {
  display: flex !important;
  justify-content: space-between;
  width: 32vw !important;
}
.profile {
  display: flex;
  width: 13vw;
}
