:root {
  --white-color: #fff;
  --grey-color: #8e98ab;
}
.left-sidebar-container {
  min-height: 100vh !important;
  flex-basis: 0 !important;
  background: var(--white-color);
  box-shadow: 0px 1px 2px #c4c4c4;
  box-shadow: 0px 2px 3px 0px #c4c4c4;
}
.logo-container {
  padding: 23px;
  height: auto;
  background-color: var(--white-color);
}
.link-container {
  text-align: center;
  padding-top: 85px;
}
.menu-link {
  display: flex;
  font-size: small;
  flex-direction: column;
  width: 100% !important;
  background-color: var(--white-color);
  color: var(--grey-color);
  padding: 3px;
  line-height: 4.7;
}
.svg:not(:root) {
  margin: auto;
  font-size: 1.4em;
}
