.right-sidebar-container {
  height: 100vh;
  overflow: auto;
  background: #fff;
  width: 30vw;
}
.cards-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
}
.card {
  width: 60px !important;
  box-shadow: 0px 2px 3px 0px #c4c4c4;
  padding: 23px;
  margin: 12px;
  height: 12vh;
}
.interest-holder {
  font-size: 1.7em;
  width: 20px;
  padding: 12px;
  font-weight: 700;
}
.followers {
  font-size: 1.4em;
}
.progressbar {
  width: 27vw;
  padding: 12px;
  background-color: #fff;
  height: 60vh;
  box-shadow: 0px 2px 3px 0px #c4c4c4;
}

.update-btn {
  height: 13vh !important;
  width: 25vw !important;
  background-color: #1a2b3c !important;
  margin: 23px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: ubuntu;
}
.update-btn:hover {
  color: #c12b3d;
}
