:root {
  --primary-background: #f5f8fa;
  --Button: #c12b3d;
  --secondary: #af4304;
  --secondary-background: rgb(40, 41, 111);
}

.signin-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw !important;
  height: 100vh !important;
  box-sizing: border-box;
}
.signin-container img {
  width: 50px;
  height: 50px;
  padding: 15px;
}
.clip-container {
  background-color: var(--primary-background) !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -1;
  clip-path: polygon(0 0, 0% 100%, 100% 0) !important;
}
.container {
  position: absolute;
  z-index: -1;
  width: 100%;
  min-height: 57vh;
  padding: 12px;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px #c4c4c4;
  border-radius: 1px solid #ddd;
}
.loader {
  position: absolute;
  background: var(--Button);
  top: 0;
  width: 120px;
  height: 3px;
  z-index: 2;
}
.content {
  position: absolute;
  z-index: 2;
  width: 24%;
  min-height: 87vh;
  border: 0 5px 15px 0px #c4c4c4;
}
.form-content {
  padding: 15px;
}
.form-content .login-text {
  opacity: 0.57;
}
.form-data {
  width: 100%;
  min-height: 25vh;
  padding-top: 23px;
  margin: auto;
}
.form-item {
  padding-top: 23px;
  width: 100%;
}
.form-item input {
  width: 100%;
  padding-top: 12px;
  border: none;
  outline: none;
  border-bottom: 2px solid #aaa9a9;
}
.input-password {
  position: relative;
}
.form-item input:focus {
  border-bottom: 2px solid var(--Button);
}
.form-item label {
  margin-bottom: 23px;
}
.ant-input-suffix {
  position: absolute;
  right: 2px;
  top: 0px;
  color: #aaa9a9;
}
.form-btns {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.form-button {
  background-color: var(--Button);
  color: white;
  text-align: center;
  margin-top: 42px;
  width: 20vw;
  min-height: 6vh;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.forgot-password {
  text-align: center !important;
  margin: auto;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  color: #aaa9a9;
}
::placeholder {
  color: #aaa9a9;
}
.form-link {
  list-style: none;
  text-decoration: none;
  color: var(--Button);
  opacity: 1;
  cursor: pointer;
}
